
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .header {
    color: #181818;
    font-family: "Montserrat";
    text-align: left;
    padding-left: 5%;
    font-size: 35pt;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 80px;
  }
  
  .intro {
    font-weight: 600;
    font-family: "Montserrat";
    text-align: left;
    font-size: 20pt;
  }
  
  .purpletext {
    color: blueviolet;
  }
  
  .bold {
    font-weight: 550;
  }
 
  .feature {
    font-family: 'Montserrat','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    font-weight: lighter;
    padding-top: 1pt;
    text-align: left;
  }
  
  .header2 {
    font-size: 30pt;
    text-align: center;
    padding-top: 10pt;
    color: #181818;
  }
  
  #container {
    text-align: center;
  }
  
  
  .container1 {
    text-align: center;
    padding-top: 5pt;
    padding-bottom: 5pt;
    margin-top: 70pt;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(137, 43, 226, 0.082);
  }
  .support {
    font-size: 15pt;
    color: #181818;
    font-weight: 200;
    text-align: center;
  }
  
  .brand {
    background-color: white;
    border-width: 0pt;
    margin-left: 10pt;
    margin-right: 10pt;
  }
  
  /*Card styles*/
  
  .a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
  }
  
  .img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container img {
      transform: skew(0deg, -13deg);
      height: 250px;
      margin: -35px 0px 0px -70px;
  }
  
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 13deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
  }
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 18px;
  }